* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: aquamarine;
  }
  .calculator {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      grid-template-rows: repeat(5, 2fr);
      grid-gap: 10px;
      margin: 17% auto;
      min-height: 50%;
      max-width: 50%;
      border: 10px solid black;
      padding: 10px;
      border-radius: 5px;
    }
    
    .calculator button {
      background-color: indianred;
      color: white;
      font-size: 2vh;
      border-radius: 50vh;
      border: none;
      cursor: cell
      
    }
    
    .calculator button:hover {
      background-color: #3e4b8e;
    }